.body {
  font-family: 'Segoe UI', sans-serif;
}

.bg-dark {
  background-color: #343a40 !important;
}

.card-body p {
  font-weight: bold;
}

/* Responsif untuk android */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
}
